#rootContainer {
  background-image: url("../public/bg.webp");
  padding: 0;
  padding-bottom: 0.5rem;
  min-height: 100vh;
}

.container-xxxl {
  width: 100vw;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.App {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bi, .navbar-brand h3 {
  color: #b57c12;
}

.navbar-brand h3 {
  margin-bottom: 0;
}

.nav-link {
  color: #b57c12;
}

.nav-link:hover, .nav-link:focus {
  color: #e89f17;
}

.dropdown-item:active {
  background-color: #e89f17;
}

.btn .bi {
  color: #ffffff;
}

.btn-outline-success i {
  color: inherit !important
}

.main-navbar {
  border-bottom: rgba(0, 0, 0, 0.08) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 10px 1px;
}

.navbar-brand a {
  color: inherit;
  text-decoration: none;
}

.btn-outline-study {
  color: #e69e18;
  border-color: #e69e18;
}

.btn-outline-study:hover {
  color: #ffffff;
  background-color: #e69e18;
}

.btn-study {
  color: #ffffff;
  background-color: #e69e18;
  border-color: #e69e18;
}

.btn-study:hover {
  color: #ffffff;
  border-color: #d49520;
  background-color: #d49520;
}

.btn-study-secondary {
  color: #e69e18;
  border-color: #e69e18;
}

.btn-study-secondary:hover {
  color: #b57c12;
  border-color: #b57c12;
  background-color: #eeeeee;
}

.btn-study i, .btn-outline-study i, .btn-study-secondary i {
  color: inherit !important;
}

#content {
  border: rgba(0, 0, 0, 0.08) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 10px 1px;
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color: #ffffff;
}

#coursesListPanel {
  padding-top: 1rem;
}

.card-body {
  padding: 0.7rem;
}

.page-item.active .page-link {
  background-color: #e69e18;
  border-color: #e69e18;
  cursor: pointer;
}

.page-link, .page-link:hover, .page-link:focus {
  color: #e69e18;
  cursor: pointer;
}

.courses-list-header i {
  font-size: 1.25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.courses-list-item.card {
  margin-bottom: 1rem;
  cursor: pointer;
  /* height: 90%; */
}

.course-code-badge {
  background-color: #e69e18 !important;
  font-size: 0.9rem;
}

.course-name {
  margin-bottom: 0;
  font-weight: 500;
}

.course-info {
    display: flex;
    justify-content: space-around;
}

.course-info p,
.course-description p {
  margin-bottom: 0.2rem;
}

.course-description {
  padding-top: calc(var(--bs-gutter-x) * .5);
}

.study-plan-list {
  border: 5px dashed #dbdbdb;
  border-radius: 10px;
  color: #dbdbdb;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 3rem 0rem;
  text-align: center;
}

.study-plan-header {
  margin-bottom: 0;
}

.study-plan-head {
  margin-bottom: 1rem;
  padding-right: 0;
}

.study-plan-btn {
  background-color: #e69e18 !important;
  border-color: #e69e18 !important;
  font-weight: 500;
}

.study-plan-btn-col {
  padding-right: 0;
  text-align: right;
}

.login-form-container {
  max-width: 400px;
}

.form-check-input:checked {
  background-color: #b57c12;
  border-color: #b57c12;
}

#create-study-plan-form {
  padding-top: calc(var(--bs-gutter-x) * .5);
  padding-bottom: calc(var(--bs-gutter-x) * .5)
}
